<template>
    <div>
        <div class="row">
            <div :class="quasar.screen.name === 'xs' ? 'col-1' : 'col-2'">
            </div>
            <div :class="quasar.screen.name === 'xs' ? 'col-10' : 'col-8'" id="herePls">
                <q-card class="my-card" v-if="customersInfos[currentCustomer - 1]">
                    <q-card-section class="bg-purple text-white">
                        <div style="font-weight: 900; font-size: 32px;">
                            Infomation
                            <q-space />
                            <q-btn label="Scan Passport" color="primary" @click="useScan = true" />
                        </div>
                    </q-card-section>
                    <q-slide-transition>
                        <div v-show="expanded[currentCustomer - 1]">
                            <q-separator />
                            <q-card-section class="text-subtitle2">
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.idCard" label="ID Card">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.passport" label="Passport">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.title" label="Title">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.firstName"
                                            label="First Name">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.lastName" label="Last Name">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input type="date" color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.birthDate"
                                            label="Date of Bitrh">
                                        </q-input>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <q-space />
                                    <q-btn label="Apply Adress to all" color="primary" size="sm" v-if="customerNumber != 1"
                                        @click="SetAdressToAll(currentCustomer - 1)" />
                                    <div class="col-1"></div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.email" label="Email">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.address" label="Address">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12" v-model="customersInfos[currentCustomer - 1].person.city"
                                            label="City">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.portalCode"
                                            label="Potal Code">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].person.phone" label="Phone">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                    </div>
                                </div>
                            </q-card-section>
                        </div>
                    </q-slide-transition>
                    <q-card-actions>
                        <div style="margin-left: 5%;">Benefit Person</div>
                        <q-space />
                        <q-btn label="Apply Benefit Person to all" color="primary" size="sm" v-if="customerNumber != 1"
                            @click="SetBenefitPersonToAll(currentCustomer - 1)" />
                        <q-btn color="grey" round flat dense
                            :icon="expanded[currentCustomer - 1] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                            @click="expandedCard(currentCustomer - 1)" />
                    </q-card-actions>
                    <q-slide-transition>
                        <div v-show="expanded[currentCustomer - 1]">
                            <q-separator />
                            <q-card-section class="text-subtitle2">
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.idCard"
                                            label="ID Card">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.passport"
                                            label="Passport">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.title" label="Title">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.firstName"
                                            label="First Name">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.lastName"
                                            label="Last Name">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.email" label="Email">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.address"
                                            label="Address">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.city" label="City">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.portalCode"
                                            label="Potal Code">
                                        </q-input>
                                    </div>
                                </div>
                                <div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                        <q-input color="purple-12"
                                            v-model="customersInfos[currentCustomer - 1].benefitPerson.phone" label="Phone">
                                        </q-input>
                                    </div>
                                    <div style="margin-left: 5%; margin-right: 5%;">
                                    </div>
                                </div>
                            </q-card-section>
                        </div>
                    </q-slide-transition>
                    <q-card-actions align="around" v-if="customerNumber != 1">
                        <q-btn flat :disable="currentCustomer == 1" @click="backPerson()">Prevous</q-btn>
                        <q-btn flat :disable="currentCustomer == customerNumber" @click="nextPerson()">Next</q-btn>
                    </q-card-actions>
                </q-card>
            </div>
        </div>
        <div class="q-pa-lg flex flex-center" v-if="customerNumber != 1">
            <q-pagination v-model="currentCustomer" :max="customerNumber" :max-pages="6" direction-links boundary-links
                icon-first="skip_previous" icon-last="skip_next" icon-prev="fast_rewind" icon-next="fast_forward" />
        </div>
        <div style="width: 50%; position: fixed; top: 30%; left: 25%;" v-if="useScan">

            <q-card class="my-card">
                <q-card-section class="bg-primary text-white">
                    <div class="row" v-if="files.lenght != customerNumber">
                        <label for="file-upload">
                            Upload Passport
                            <q-btn round for="file-upload" color="primary" icon="cloud_upload" @click="ClickUploadFile"
                                :disable="files.lenght == customerNumber" />
                        </label>
                        <input id="file-upload" type="file" style="display: none;" @change="AddFile($event)" multiple
                            :disable="files.lenght == customerNumber" />
                    </div>
                    <div class="row">
                        <template v-for="(item, index) in files" :key="item">
                            <div :class="'col-' + 6 / rowPerPage" v-if="item">
                                <q-img :src="item.url">
                                    <div class="absolute-top-right" @click="RemoveImage(index)">
                                        Remove
                                    </div>
                                </q-img>
                            </div>
                        </template>
                    </div>
                </q-card-section>

                <q-separator />

                <q-card-actions align="right">

                    <div>
                        <q-btn flat label="Scan" @click="UploadS3()"></q-btn>
                        <q-btn flat @click="useScan = false">Cancle</q-btn>
                    </div>
                </q-card-actions>
            </q-card>
        </div>
        <div class="row" style="align-items: center; justify-items: center;">
            <div class="col-5"></div>
            <div class="col-2"><q-btn color="primary" label="Submit"
                    style="width: 100%; margin-bottom: 50px; margin-top: 10px;" @click="SubmitOrderInsurance"></q-btn>
            </div>

        </div>
        <q-spinner-pie v-if="wait" color="orange" size="100px"
            style=" position: fixed; top: 10%; background-color: white; border-radius: 50%; left: 80%;" />
    </div>
</template>
  
<script>
import { computed, onMounted, ref } from "vue";
import { useQuasar } from 'quasar';
import { Amplify, Storage } from 'aws-amplify';
import awsconfig from '../aws-exports';
import axios from "axios";
import { useRouter } from "vue-router";
Amplify.configure(awsconfig);
export default {
    name: 'CustomerList',
    setup() {
        const router = useRouter();
        const storage = Storage
        const currentCustomer = ref(1)
        const customerNumber = ref(0)
        const useScan = ref(false)
        const quasar = useQuasar()
        const customersInfos = ref([])
        const expanded = ref([])
        const files = ref([])
        const wait = ref(false)
        const axiosService = axios
        const fullPackages = ref([])
        const requestId = ref('')
        const rowPerPage = computed(() => {
            if (quasar.screen.name === 'xs') {
                return 1
            }
            else if (quasar.screen.name === 'sm') {
                return 2
            }
            else {
                return 3
            }
        })
        function SetBenefitPersonToAll(index) {
            let selectedBenefitPerson = customersInfos.value[index].benefitPerson
            for (let iten in customersInfos.value) {
                customersInfos.value[iten].benefitPerson = selectedBenefitPerson
            }
        }
        function SetAdressToAll(index) {
            let selectedBenefitPerson = customersInfos.value[index].person
            for (let iten in customersInfos.value) {
                customersInfos.value[iten].person.email = selectedBenefitPerson.email
                customersInfos.value[iten].person.address = selectedBenefitPerson.address
                customersInfos.value[iten].person.city = selectedBenefitPerson.city
                customersInfos.value[iten].person.portalCode = selectedBenefitPerson.portalCode
                customersInfos.value[iten].person.phone = selectedBenefitPerson.phone
            }
        }
        function nextPerson(){
            currentCustomer.value += 1
            document.getElementById("herePls").scrollIntoView();
        }
        function backPerson(){
            currentCustomer.value -= 1
            document.getElementById("herePls").scrollIntoView();
        }
        function AddCustomer() {
            customersInfos.value.push({
                person: {
                    title: "",
                    firstName: "",
                    lastName: "",
                    phone: "",
                    idCard: "",
                    passport: "",
                    birthDate: "",
                    address: "",
                    city: "",
                    county: "",
                    portalCode: "",
                    email: ""
                },
                benefitPerson: {
                    title: "",
                    firstName: "",
                    lastName: "",
                    phone: "",
                    idCard: "",
                    passport: "",
                    birthDate: "2023-02-09",
                    address: "",
                    city: "",
                    county: "",
                    portalCode: ""
                }
            })
        }

        function expandedCard(index) {
            expanded.value[index] = !expanded.value[index]
        }
        function ClickUploadFile() {
            document.getElementById("file-upload").click();
        }
        function AddFile(event) {
            console.log(event.target.files)
            for (const item of event.target.files) {
                if (item) {
                    files.value.unshift({
                        name: item.name,
                        url: window.URL.createObjectURL(item),
                        file: item
                    })
                }
            }

        }
        function RemoveImage(index) {
            delete files.value[index]
        }
        const UploadS3 = (async () => {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            useScan.value = false
            wait.value = true
            for (let i = 0; i < files.value.length; i++) {
                let resposne = await storage.put((characters.charAt(Math.floor(Math.random() * 4)) + files.value[i].name), files.value[i].file, {
                    contentType: "image/png"
                })
                if (resposne.key) {
                    try {
                        let getImageInfo = await axiosService.get('https://e195slsu1b.execute-api.us-east-1.amazonaws.com/prod/ocr?bucket=seedang-insurances&filename=public/' + resposne.key)
                        MapUserInfo(i, getImageInfo.data)
                    }
                    catch (err) {
                        console.error(err)
                    }

                }
            }
            useScan.value = false
            wait.value = false
        })
        function MapUserInfo(index, data) {
            customersInfos.value[index].person.title = data.title
            customersInfos.value[index].person.firstName = data.firstname
            customersInfos.value[index].person.lastName = data.surname
            customersInfos.value[index].person.birthDate = data.dateOfBirth
            customersInfos.value[index].person.idCard = data.identification
            customersInfos.value[index].person.passport = data.passport
        }
        async function SubmitOrderInsurance() {
            let request = {
                orderId: Number(requestId.value),
                persons: customersInfos.value
            }
            try {
                let responce = await axiosService.post(process.env.VUE_APP_BASE_URL + '/order/insurance?token=' + localStorage.getItem('authToken'), request
                )
                if (responce.status == 200 && responce.data) {
                    console.log(responce.data)
                    if (responce.data.paymentAmount !== undefined) {
                        localStorage.setItem('paymentAmount', JSON.stringify(responce.data))
                        router.push('/WaitForPayment')
                    }
                    // localStorage.setItem('package', JSON.stringify(fullPackages.value))
                    else {
                        alert(responce.data.errorMessage)
                    }
                    // localStorage.setItem('orderId',responce.data.orderId)
                    // localStorage.setItem('package',JSON.stringify(fullPackages.value))
                    // router.push('/CustomerList')
                }
            } catch (err) {
                console.error(err)
            }
            // let request = {
            //     orderId: Number(requestId.value),
            //     persons: customersInfos.value
            // }
            // try {
            //     let responce = await axiosService.post(process.env.VUE_APP_BASE_URL+'/order/payment?token='+localStorage.getItem('authToken'), request
            //     )
            //     if(responce.status==200 && responce.data){
            //         console.log(responce.data)
            //         if(responce.data.paymentAmount !== undefined){
            //             localStorage.setItem('paymentAmount', JSON.stringify(responce.data))
            //         router.push('/WaitForPayment')
            //         }
            //         // localStorage.setItem('package', JSON.stringify(fullPackages.value))
            //         else{
            //             alert(responce.data.errorMessage)
            //         }
            //         // localStorage.setItem('orderId',responce.data.orderId)
            //         // localStorage.setItem('package',JSON.stringify(fullPackages.value))
            //         // router.push('/CustomerList')
            //     }
            // } catch (err) {
            //     console.error(err)
            // }


        }
        onMounted(() => {
            if (localStorage.getItem('orderId')) {
                requestId.value = localStorage.getItem('orderId')
            }
            else {
                router.push('/')
            }
            if (localStorage.getItem('package')) {
                fullPackages.value = JSON.parse(localStorage.getItem('package'))
                customerNumber.value = fullPackages.value.numberOfTravellers
            }
            else {
                router.push('/')
            }
            for (let i = 0; i < customerNumber.value; i++) {
                AddCustomer()
            }
            expanded.value = Array.from({ length: customerNumber.value }, () => true)
        }
        )
        return {
            quasar,
            wait,
            customersInfos,
            currentCustomer,
            customerNumber,
            expanded,
            rowPerPage,
            files,
            storage,
            AddCustomer,
            expandedCard,
            SetBenefitPersonToAll,
            SetAdressToAll,
            ClickUploadFile,
            AddFile,
            RemoveImage,
            UploadS3,
            SubmitOrderInsurance,
            nextPerson,
            backPerson,
            useScan
        }
    }
}
</script>
  