<template>
  <div class="row">
    <div class="col-2"></div>
    <div class="'col-8'">
      <div v-for="(item, index) in policys" :key="item" style="margin-top: 25px;">
        <q-card class="my-card" :style="'width: ' + quasar.screen.width * 0.65 + 'px;'">
          <q-card-section class="bg-teal text-white">
            <div class="text-h6">{{ item.policy_number }}</div>
            <div class="text-subtitle2">Insurance ID. {{ item.insurance_id }}</div>
          </q-card-section>
          <q-card-actions vertical align="right">
            <div>{{ item.policy_url }}</div>
            <q-btn color="primary" @click="ContinueActivities(index)">Download</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</template>

<script>
import { useQuasar } from 'quasar';
import { computed, ref, onMounted } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
export default {
  name: 'MyInsurance',
  setup() {
    const router = useRouter();
    const axiosService = axios
    const quasar = useQuasar()
    const rowPerPage = computed(() => {
      if (quasar.screen.name === 'xs') {
        return 1
      }
      else if (quasar.screen.name === 'sm') {
        return 2
      }
      else {
        return 3
      }
    })
    const policys = ref([
    ])
    async function ContinueActivities(index) {
      window.open(policys.value[index].policy_url)
    }
    onMounted(async () => {
      try {
        let response = await axiosService.get(process.env.VUE_APP_BASE_URL + '/order/policy?token=' + localStorage.getItem('authToken'))
        if (response.status === 200 && response.data) {
          for(const item of response.data){
            console.log(item)
            if(item.policys.length){
              for(const i of item.policys){
                policys.value.push(i)
              }
            }
          }
          console.log(policys.value)
        } else {
          alert(response.errorMessage)
        }
      }
      catch (err) {
        console.error(err)
      }
    })


    return {
      quasar,
      rowPerPage,
      policys,
      router,
      ContinueActivities,
    }
  }
}
</script>
