<template>
    <div>
        <div v-for="items in Math.ceil(plane.length / rowPerPage)" :key="items">
            <div class="row" style="padding-top: 50px;">
                <div style="width: 10px;"></div>
                <div v-for="item in rowPerPage" :key="item">
                    <div v-if="plane[item - 1 + ((items - 1) * rowPerPage)]"
                        :style="'padding-left: 1.5%; padding-right: 1.5%; width:' + (quasar.screen.width / rowPerPage - 20) + 'px'">
                        <q-card class="my-card">
                            <q-card-section class="bg-primary text-white">
                                <div class="text-h6">{{ plane[item - 1 + ((items - 1) * rowPerPage)].packageName }}</div>
                                <div class="text-subtitle2"></div>
                            </q-card-section>
                            <q-separator />
                            <q-card-actions align="right">
                                <div style="margin-right: 20px;">
                                    {{ plane[item - 1 + ((items - 1) * rowPerPage)].packagePrice.value }} {{
                                        plane[item - 1 + ((items - 1) * rowPerPage)].packagePrice.unit }} / person
                                </div>

                                <q-btn @click="PostOrderRequest(plane[item - 1 + ((items - 1) * rowPerPage)])">{{ plane[item
                                    - 1 + ((items - 1) *
                                        rowPerPage)].packagePrice.value *
                                    fullPackages.numberOfTravellers }} {{
        plane[item - 1 + ((items - 1) * rowPerPage)].packagePrice.unit }}</q-btn>
                            </q-card-actions>
                            <q-card-actions>
                                <q-space />
                                More Infomation
                                <q-btn color="grey" round flat dense
                                    :icon="expanded[item - 1 + ((items - 1) * rowPerPage)] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                                    @click="expandedCard((item - 1 + ((items - 1) * rowPerPage)))" />
                            </q-card-actions>
                            <q-slide-transition>
                                <div v-show="expanded[item - 1 + ((items - 1) * rowPerPage)]">
                                    <q-separator />
                                    <q-card-section class="text-subtitle2">
                                        <div class="row"
                                            v-for="coverage in plane[item - 1 + ((items - 1) * rowPerPage)].coverages"
                                            :key="coverage"
                                            style="border-bottom: 3px solid rgba(85, 85, 85, 0.719); font-family: Arial, sans-serif; font-size: 16px; color: #333333; font-weight:500 ;">
                                            <div class="col-9">
                                                {{ coverage.title }}
                                            </div>
                                            <div class="col-3">
                                                <div v-if="coverage.detail.value !== 'N/A'">
                                                    {{ coverage.detail.value }} {{ coverage.detail.unit }}
                                                </div>
                                            </div>
                                        </div>
                                    </q-card-section>
                                </div>
                            </q-slide-transition>
                        </q-card>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
  
<script>
import { computed, onMounted, ref } from "vue";
import { useQuasar } from 'quasar';
import { useRouter } from "vue-router";
import axios from "axios";
export default {
    name: 'ProductList',
    setup() {
        const router = useRouter();
        const quasar = useQuasar()
        const plane = ref([
        ])
        const axiosService = axios
        const fullPackages = ref({})
        const expanded = ref([])
        expanded.value = Array.from({ length: plane.value.length }, () => false)
        const rowPerPage = computed(() => {
            if (quasar.screen.name === 'xs') {
                return 1
            }
            else if (quasar.screen.name === 'sm') {
                return 2
            }
            else {
                return 3
            }
        })
        function expandedCard(index) {
            expanded.value[index] = !expanded.value[index]
        }
        async function PostOrderRequest(selectedPackage) {
            try {
                let responce = await axiosService.post(process.env.VUE_APP_BASE_URL+'/order?token='+localStorage.getItem('authToken'), {
                    originCountry: fullPackages.value.originCountry,
                    destinationCountry: fullPackages.value.destinationCountry,
                    startDate: fullPackages.value.startDate,
                    endDate: fullPackages.value.endDate,
                    package: selectedPackage
                }
                )
                if(responce.status==200 && responce.data){
                    localStorage.setItem('orderId',responce.data.orderId)
                    localStorage.setItem('package',JSON.stringify(fullPackages.value))
                    router.push('/CustomerList')
                }
            } catch (err) {
                console.error(err)
            }
        }
        onMounted(() => {
            if (localStorage.getItem('package')) {
                plane.value = JSON.parse(localStorage.getItem('package')).plans
                fullPackages.value = JSON.parse(localStorage.getItem('package'))
            }
        })
        return {
            plane,
            quasar,
            rowPerPage,
            expanded,
            expandedCard,
            router,
            fullPackages,
            PostOrderRequest
        }
    }
}
</script>
  