<template>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-3">
        </div>
        <div class="col-6">
            <q-select v-model="travelInfomation.departureCountry" :options="departureCountryOption" use-input
                @filter="filterDepartureCountry" label="DEPARTURE COUNTRY">
                <template v-slot:prepend>
                    <q-icon name="flight_takeoff" />
                </template>
            </q-select>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-3"></div>
        <div class="col-6">
            <q-select v-model="travelInfomation.destination" :options="destinationCountryOption" use-input
                @filter="filterdestinationCountry" label="DESTINATION">
                <template v-slot:prepend>
                    <q-icon name="flight_landing" />
                </template>
            </q-select>
        </div>
    </div>
    <div :class="quasar.screen.name == 'xs' || quasar.screen.name == 'sm'?'':'row'" style="margin-bottom: 25px;">
        <div class="col-3"></div>
        <div class="col-2">
            <div class="q-pa-md" :style="quasar.screen.name == 'xs' || quasar.screen.name == 'sm'?'max-width: 300px; margin-left: 30%;':'max-width: 300px'">
                DEPARTURE DATE 
                <input type="date" :min="today" v-model="travelInfomation.departureDate"
                    style="width: 100%; border-radius: 8px; height: 40px;">
                <!-- <q-input filled v-model="travelInfomation.departureDate" mask="date" :rules="['date']"
                    label="DEPARTURE DATE">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                <q-date v-model="travelInfomation.departureDate" minimal :max="today">
                                    <div class="row items-center justify-end">
                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                    </div>
                                </q-date>
                            </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input> -->
            </div>
        </div>
        <div class="col-2">
            <div class="q-pa-md" style="max-width: 300px" :style="quasar.screen.name == 'xs' || quasar.screen.name == 'sm'?'max-width: 300px; margin-left: 30%;':'max-width: 300px'">
                RETURN DATE
                <input type="date" :min="travelInfomation.departureDate" v-model="travelInfomation.returnDate"
                    style="width: 100%; border-radius: 8px; height: 40px;">
                <!-- <q-input filled v-model="travelInfomation.returnDate" mask="date" :max="today" :rules="['date']" label="RETURN DATE">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                                <q-date v-model="travelInfomation.returnDate" minimal >
                                    <div class="row items-center justify-end">
                                        <q-btn v-close-popup label="Close" color="primary" flat />
                                    </div>
                                </q-date>
                            </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input> -->
            </div>
        </div>
        <div class="col-2">
            <div class="q-gutter-md" :style="quasar.screen.name == 'xs' || quasar.screen.name == 'sm'?'max-width: 300px; margin-left: 30%;':'max-width: 300px'">
                <q-select v-model="travelInfomation.noOfTravelor" label="NO. OF TRAVELLER(S)"
                    :options="userOption" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-5"></div>
        <div class="dol-2">
            <q-btn color="primary" rounded icon-right="search" label="Check Price" @click="GetPackage" />
        </div>
    </div>
</template>
  
<script>
import { onMounted, ref } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
import { useQuasar } from 'quasar';
export default {
    name: 'TravelInsurance',
    setup() {
        const quasar = useQuasar()
        const router = useRouter();
        const userOption = Array.from({ length: 10 }, (value, index) => index + 1)
        const axiosService = axios
        const countryOptions = ref([])
        const countryOptionsFull = ref([])
        const travelInfomation = ref({
            departureCountry: "",
            destination: "",
            departureDate: null,
            returnDate: null,
            noOfTravelor: 1
        })
        const today = new Date().toISOString().split("T")[0];
        const departureCountryOption = ref([])
        const destinationCountryOption = ref([])
        function filterDepartureCountry(val, update) {
            update(() => {
                let needle = val.toLowerCase();
                departureCountryOption.value =
                    countryOptions.value.filter(
                        (v) => v.toLowerCase().indexOf(needle) > -1
                    );
            });
        }
        function filterdestinationCountry(val, update) {
            update(() => {
                let needle = val.toLowerCase();
                destinationCountryOption.value =
                    countryOptions.value.filter(
                        (v) => v.toLowerCase().indexOf(needle) > -1
                    );
            });
        }
        async function GetPackage() {
            try {
                let responce = await axiosService.post('https://5hqepinokd.execute-api.ap-southeast-1.amazonaws.com/prod/api/quote-requests', {
                    originCountry: countryOptionsFull.value.find(item => item.label == travelInfomation.value.departureCountry).id,
                    destinationCountry: countryOptionsFull.value.find(item => item.label == travelInfomation.value.destination).id,
                    startDate: travelInfomation.value.departureDate,
                    endDate: travelInfomation.value.returnDate,
                    numberOfTravellers: travelInfomation.value.noOfTravelor
                })
                if (responce.status == 200 && responce.data) {
                    localStorage.setItem('package', JSON.stringify(responce.data))
                    router.push('/ProductList')
                }
            } catch (err) {
                console.error(err)
            }
        }
        onMounted(async () => {
            try {
                let responce = await axiosService.get('https://5hqepinokd.execute-api.ap-southeast-1.amazonaws.com/prod/api/countries')
                responce.data.forEach(element => {
                    countryOptions.value.push(element.label)
                });
                countryOptionsFull.value = responce.data
                departureCountryOption.value = countryOptions.value
                destinationCountryOption.value = countryOptions.value
            }
            catch (err) {
                console.error(err)
            }
        })
        return {
            travelInfomation,
            countryOptions,
            filterDepartureCountry,
            filterdestinationCountry,
            departureCountryOption,
            destinationCountryOption,
            optionsDeparture(date) {
                return date >= '2099/12/01' && date <= new Date().toISOString().split("T")[0].replaceAll('-', '/')
            },
            optionsDestination(date) {
                return date >= travelInfomation.value.departureDate && date <= '2099/12/01'
            },
            today,
            userOption,
            GetPackage,
            quasar
        }
    }
}
</script>
  