<template>
  <div class="row">
    <div class="col-2"></div>
    <div class="'col-8'">
      <div v-for="(item, index) in orders" :key="item" style="margin-top: 25px;">
        <q-card class="my-card" :style="'width: ' + quasar.screen.width * 0.65 + 'px;'">
          <q-card-section class="bg-teal text-white">
            <div class="text-h6">{{ item.packageName }} {{ item.originCountry }} To {{ item.destinationCountry }}</div>
            <div class="text-subtitle2">Order ID. {{ item.orderId }}</div>
            <div class="text-subtitle2">{{ item.statusName }}</div>
            <div class="text-subtitle2">{{ item.startDate }} - {{ item.endDate }}</div>
          </q-card-section>
          <q-card-actions vertical align="right">
            <q-btn color="primary" @click="ContinueActivities(index)">Continue</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</template>

<script>
import { useQuasar } from 'quasar';
import { computed, ref, onMounted } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
export default {
  name: 'WaitingList',
  setup() {
    const router = useRouter();
    const axiosService = axios
    const quasar = useQuasar()
    const rowPerPage = computed(() => {
      if (quasar.screen.name === 'xs') {
        return 1
      }
      else if (quasar.screen.name === 'sm') {
        return 2
      }
      else {
        return 3
      }
    })
    const orders = ref([
    ])
    async function ContinueActivities(index) {
      if (orders.value[index].statusId === 1) {
        router.push("/")
      }
      else if (orders.value[index].statusId === 2) {
        try {
          let response = await axiosService.get(process.env.VUE_APP_BASE_URL + '/order/payment?token=' + localStorage.getItem('authToken'))
          if (response.status === 200 && !response.data.errorMessage) {

            for (let i = 0; i < response.data.length; i++) {
              if (response.data[i].orederId == orders.value[index].orderId) {
                response.data[i].orderId = response.data[i].orederId
                response.data[i].paymentAmount = response.data[i].balance
                localStorage.setItem('paymentAmount', JSON.stringify(response.data[i]))
                router.push('/WaitForPayment')
              }
            }
          } else {
            alert(response.data.errorMessage)
          }
        } catch (err) {
          console.error(err)
        }
        // router.push("/")
      }
      orders.value[index]
    }
    onMounted(async () => {
      try {
        let response = await axiosService.get(process.env.VUE_APP_BASE_URL + '/order/status?token=' + localStorage.getItem('authToken'))
        if (response.status === 200 && response.data) {
          orders.value = response.data
        } else {
          alert(response.errorMessage)
        }
      }
      catch (err) {
        console.error(err)
      }
    })


    return {
      quasar,
      rowPerPage,
      orders,
      router,
      ContinueActivities,
    }
  }
}
</script>
