<template>
  <div class="row">
    <div class="col-2"></div>
    <div class="'col-8'">
      <q-card class="my-card" style="margin-bottom: 50px;">
        <qrcode-vue :value="base64QRCode" :size="quasar.screen.width * 0.6" level="H"></qrcode-vue>
        <q-card-section>
          <div class="text-h6"> Order Id. {{ paymentInfo.orderId }}</div>
          <div class="text-subtitle2">Total Amount {{ paymentInfo.paymentAmount }} Baht</div>
          <q-separator />
          <div class="div" style="margin-top: 40px;">
            <div class="col-8"></div>
            <div class="col-4"><q-btn color="primary" label="Confirm" @click="ConfirmPayment"></q-btn></div>
          </div>

        </q-card-section>
      </q-card>
    </div>
    <div class="col-2"></div>
  </div>
</template>

<script>
import axios from "axios";
import { useQuasar } from 'quasar';
import { computed, onMounted, ref } from "vue";
import QrcodeVue from 'qrcode.vue'
import { useRouter } from "vue-router";
export default {
  name: 'WaitForPayment',
  components: { QrcodeVue },
  setup() {
    const router = useRouter();
    const axiosService = axios
    const quasar = useQuasar()
    const rowPerPage = computed(() => {
      if (quasar.screen.name === 'xs') {
        return 1
      }
      else if (quasar.screen.name === 'sm') {
        return 2
      }
      else {
        return 3
      }
    })
    async function ConfirmPayment() {
      try {
        let responce = await axiosService.post(process.env.VUE_APP_BASE_URL + '/order/payment?token=' + localStorage.getItem('authToken'), {
          orderId: Number(paymentInfo.value.orderId),
          full_paid: true
        }
        )
        if (responce.status == 200 && responce.data) {
          alert('Thank You')
          // localStorage.setItem('orderId', responce.data.orderId)
          // localStorage.setItem('package', JSON.stringify(fullPackages.value))
          router.push('/MyInsurance')
        }
      } catch (err) {
        console.error(err)
      }
    }


    const paymentInfo = ref({
      orderId: 0,
      paymentAmount: 0
    })
    const base64QRCode = ref('00020101021230810016A00000067701011201150107536000315080214KB1020571497040320API1582994752120378531690016A00000067701011301030040214KB1020571497040420API1582994752120378553037645406100.005802TH630470bb')
    onMounted(() => {
      if (localStorage.getItem('paymentAmount')) {
        paymentInfo.value = JSON.parse(localStorage.getItem('paymentAmount'))
      }
      base64QRCode.value = '00020101021230810016A00000067701011201150107536000315080214KB1020571497040320API1582994752120378531690016A00000067701011301030040214KB1020571497040420API1582994752120378553037645406' + paymentInfo.value.paymentAmount + '.005802TH630470bb'

    })
    return {
      quasar,
      rowPerPage,
      paymentInfo,
      base64QRCode,
      ConfirmPayment
    }
  }
}
</script>
