<template>
  <authenticator :style="'margin-top: 50px;'" v-if="popUp">
    <template v-slot="{ user, signOut }">
      <div class="q-pa-md">
        <div class="row">
          <q-tabs v-model="tab">
            <q-tab name="home">
              <img style="height: 70px;" src="..\src\assets\logo.png" alt="">
            </q-tab>
            <q-tab name="product" label="Product" @click="router.push('/TravelInsurance')" />
            <q-tab name="MyInsurance" label="My Insurance" @click="router.push('/MyInsurance')" />
            <q-tab name="waitingList" label="Waiting List" @click="router.push('/WaitingList')" />
          </q-tabs>
          <q-space />
          <q-btn flat style="margin-left: 20px;" :label="user.attributes.given_name + ' ' + user.attributes.family_name"
            disable />
          <q-btn flat color="red" style="margin-left: 20px;" @click="signOut" label="Sign Out" />
        </div>
      </div>
    </template>
  </authenticator>
  <router-view />
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div style="position: fixed; margin-top: 120px; width: 50%;">
        <q-img src="..\src\assets\banner.png">
        </q-img>
        <q-btn color="green" label="Log In" v-if="!popUp" @click="popUp = !popUp"
          style="position: relative; width: 100px; left: 50%; margin-left: -50px; bottom: 20%;"></q-btn>
      </div>

      <!-- <div style="align-items: center;">
        
      </div> -->

      <!-- <div class="text-subtitle1 text-center" style="background-color: rgb(138, 138, 138); height: 50px; align-items: center; text-align: center; vertical-align: middle;" v-if="!popUp" @click="popUp = !popUp">
          
        </div> -->
    </div>
  </div>
</template>

<script>
import { Authenticator } from "@aws-amplify/ui-vue";
import "@aws-amplify/ui-vue/styles.css";
import { useRouter } from "vue-router";
import { Amplify } from 'aws-amplify';
import awsconfig from './aws-exports';
import { onMounted, ref } from 'vue';
import axios from "axios";
Amplify.configure(awsconfig);
export default {
  name: 'LayoutDefault',
  components: {
    Authenticator,
  },

  setup() {
    const logedIn = ref(false)
    const popUp = ref(false)
    const router = useRouter();
    const axiosService = axios
    const localStorages = { ...localStorage }
    let userData = {}
    let postUserBody = {}
    // for(const key in localStorages){
    //   try{
    //     if(JSON.parse(localStorages[key]).UserAttributes!=undefined){
    //       userData = JSON.parse(localStorages[key]).UserAttributes
    //       logedIn.value == true
    //       for(let item of userData){
    //         if(item.Name ==="email"){
    //           postUserBody.email = item.Value
    //         }
    //         else if(item.Name ==="phone_number"){
    //           postUserBody.phone = item.Value
    //         }
    //       }
    //     }
    //   }
    //   catch(err){
    //     console.error(err)
    //   }
    // userData = localStorages[key].includes('UserAttributes') ? JSON.parse(localStorages[key]) : []
    // }
    const PostUer = (async () => {
      for (const key in localStorages) {
        try {
          if (JSON.parse(localStorages[key]).UserAttributes != undefined) {
            userData = JSON.parse(localStorages[key]).UserAttributes
            logedIn.value == true
            for (let item of userData) {
              if (item.Name === "email") {
                postUserBody.email = item.Value
              }
              else if (item.Name === "phone_number") {
                postUserBody.phone = item.Value
              }
            }
            // try {
            if ('email' in postUserBody) {
              let response = await axiosService.post(process.env.VUE_APP_BASE_URL + '/user', postUserBody
              )
              if (response.status === 200 && response.data) {
                if (response.data.token !== undefined) {
                  localStorage.setItem("authToken", response.data.token)
                }
                // router.push('/TravelInsurance')
              } else {
                localStorage.removeItem("authToken")
                router.push('/')
                alert(response.errorMessage)
              }
            }
            // } catch (err) {
            //   console.error(err)
            // }
          }
        }
        catch (err) {
          console.error(err)
        }
      }
    })
    PostUer()
    onMounted(async () => {
      PostUer()
      if (localStorage.getItem('authToken') != undefined) {
        popUp.value = true
      }
      else {
        popUp.value = false
      }
      // let response = await axiosService.get(process.env.VUE_APP_BASE_URL + '/healthcheck'
      // )
      // if (response.status === 200 && response.data) {
      //   if (response.data.token != undefined) {
      //     localStorage.setItem("authToken", response.data.token)
      //   }

      //   // router.push('/TravelInsurance')
      // } else {
      //   alert(response.errorMessage)
      // }
    })
    return {
      router,
      popUp,
      logedIn,
      tab: ref('home'),
    }
  }
}
</script>
